body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}


html {
    scroll-behavior: smooth;
}


section {
    padding: 30px 0;
    background: rgb(255,255,255);
}


p {
    font-size: 16px;
    text-align: justify;
    text-justify: inter-word;
}



.container {
    /* align-content: center;  */
    /* justify-content: center; */
    text-align: center;
    margin: auto;
}



.container-text {
    width: 55%;
    /* width: auto; */
    border: 1px solid rgb(150,150,150);
    border-radius: 15px;
    padding: 45px;
    margin: auto;
    margin-top: 25px;
    text-align: justify;
    text-justify: inter-word;
}




.container-project {
    width: 55%;
    /* width: auto; */
    border: 1px solid rgb(150,150,150);
    border-radius: 15px;
    padding: 45px;
    margin: auto;
    margin-top: 20px;
    /* text-align: justify; */
    /* text-justify: inter-word; */
}




.container-button {
    /* width: 80%; */
    /* margin: auto; */
    /* padding: 20px; */
    /* justify-content: space-around; */
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 35px;
    /* margin-bottom: 5px; */
}



.container-align {
    display: flex;
    justify-content: space-between;
}


.left {
    text-align: left;

}

.right {
    text-align: right;
}







#project {
    background-color: rgb(50,50,50);
}


.projects {
    display: flex;
    /* justify-content: space-around; */
    justify-content: center;
    flex-wrap: wrap;
    /* width: 85%; */
    width: auto;
    margin: auto;
    /* border: 1px solid rgb(285,285,285);  */
    border-radius: 15px;
    /* margin-top: 35px; */
    background-color: rgb(50,50,50);
}

.project {
    width: 25%;
    min-width: 325px;
    max-width: 400px;
    background: white;
    border-radius: 15px;
    padding: 25px;
    margin: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffffc5;
}




.column-project {
    width: 65%;
    border: 1px solid rgb(150,150,150);
    border-radius: 25px;
    margin: auto;
    /* margin-bottom: 35px; */
}


.row-project {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 35px;
    width: 100%;
}


.line {
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 3px solid;
    color: rgb(200,200,200);
    width: 85%;
    /* border: 1px solid rgb(185, 185, 185);  */;
  }



header {
    background: #ffffff;
    color: white;
    padding: 5px 0;
    font-family: 'arial black', sans-serif;
    /* font-size: 1vw; */
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
}

header h1 {
    text-align: center;
}


.bi {
    vertical-align: -.125em;
    fill: currentColor;
    width: 24px;
    height: 24px;
}

.nav {
    /* border: 3px solid; */
    /* border-radius:15px;  */
    padding: 0px;
    margin: 0px"
}


nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


/* .nav-link {
    border: 1px solid green;
    border-radius: 15px;
    padding: 0px;
    margin: 0px"
} */


a {
    color: blue;
    text-decoration: none;
}

.a-visitor {
    display: block;
    width: 50px;
    height: 10px;
    cursor:pointer;
    background-color: green;
    position: relative;
    left: 0px;
    top: 0px;
}




.p-indent {
    text-indent: 35px
}


.p-project {
    font-size: 23px;
    text-align: center;
    /* margin-top: 15px; */
}


h2 {
    text-align: center;
    font-size: 2em;
    /* font-size: 25px;  */
    /* font-weight: bold;  */
    /* text-align: center;  */
    /* margin-bottom: 15px; */
}


h4 {
    text-align: center;
    /* font-size: 1em; */
    /* font-weight: bold;  */
    /* margin-bottom: 15px; */
}


.h5-title {
    font-size: 20px;
    }



footer {
    height: 65px;
}





.li-header {
    font-size: 1em;
    /* padding-left: 10px; */
}



li {
    /* padding-top: 10px; */
    padding-left: 10px;
}




/* Images */
.img-responsive {
    max-width: 85%;
    height: auto;
    margin: 15px;
  }



.img-project {
max-width: 85%;
height: auto;
margin: 15px;
}






.button {
    font-size: 15px;
    margin: 1px;
    margin-top: 15px;
    cursor: pointer;
    height: 40px;
    line-height: 40px; /* Ensure text is vertically centered */
    text-align: center;
    padding: 0 10px; /* Adjust padding for better alignment */
}







.button-round1 {
    min-height: 45px;
    min-width: 75px;
    max-width: 100px;
    border: 1px solid #0e470e;
    border-radius: 5px;
    background-color: #2b6b1e;
    background-image: radial-gradient(75% 50% at 50% 0%, #98c997 12%, transparent), radial-gradient(75% 50% at 50% 85%, #93a77d, transparent);
    box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.2), 0 1px 4px 1px rgba(81, 148, 72, 0.2), 0 1px 4px 1px rgba(157, 221, 127, 0.1);
    color: #fff;
    text-shadow: 0 1px 1px #14861d;
    transition-property: border-color, transform, background-color;
    transition-duration: 0.2s;
}

.button-round1:hover {
    transform: scale(1.04);
}

.button-round1:active {
    border-color: #094e0d;
    transform: scale(0.96);
    background-color: #08411b;
}







.button-round2 {
    min-height: 45px;
    min-width: 75px;
    max-width: 100px;
    border: 1px solid #0360df;
    border-radius: 50px;
    background-color: #0360df;
    background-image: radial-gradient(75% 50% at 50% 0%, #f4feff 12%, transparent), radial-gradient(75% 50% at 50% 85%, #8de3fc, transparent);
    box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.2), 0 1px 4px 1px rgba(17, 110, 231, 0.2), 0 1px 4px 1px rgba(0, 0, 0, 0.1);
    color: #fff;
    text-shadow: 0 1px 1px #116ee7;
    transition-property: border-color, transform, background-color;
    transition-duration: 0.2s;
}

.button-round2:hover {
    transform: scale(1.04);
}

.button-round2:active {
    border-color: #0048d5;
    transform: scale(0.96);
    background-color: #0048d5;
}








.button-round3 {
    min-height: 45px;
    min-width: 75px;
    max-width: 200px;
    border: 1px solid #202020;
    border-radius: 50px;
    background-color: #6e6e6e;
    background-image: radial-gradient(75% 50% at 50% 0%, #d8d8d8 12%, transparent), radial-gradient(75% 50% at 50% 85%, #d8d8d8, transparent);
    box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.2), 0 1px 4px 1px rgba(167, 167, 167, 0.2), 0 1px 4px 1px rgba(207, 207, 207, 0.1);
    color: #fff;
    text-shadow: 0 1px 1px #6b6b6b;
    transition-property: border-color, transform, background-color;
    transition-duration: 0.2s;
}

.button-round3:hover {
    transform: scale(1.04);
}

.button-round3:active {
    border-color: #868686;
    transform: scale(0.96);
    background-color: #474747;
}









/* Buttons */
.btn-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font: 1em sans-serif;
    background-color: rgb(0, 127, 255);
    border: none;
    width: 150px;
    height: 45px;
    border-radius: 5px;
    color: white;
    text-align: center;
  }

  .btn-button:hover {
    background-color: rgb(0, 95, 215);
    color: white;
  }






footer {
    background: rgb(50, 50, 50);
    color: white;
    text-align: center;
    padding: 10px;
    height: 100px;
}

footer a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}



/* Responsive adjustments */
/* @media (max-width: 1200px) {
    .project {
        width: 45%;
    }
} */






@media (max-width: 768px) {
    .project {
        width: 100%;
    }

    /* .bi {
        width: 24px;
        height: 24px;
    } */


    p {
        font-size: 15px;
    }

    .p-indent {
        text-indent: 20px
    }

    .p-project {
        font-size: 20px;
    }

    .h5-title {
        font-size: 15px;
        }


    /* ul, ol {
        font-size: 15px;
        margin-left: -5px;
        } */


    li {
        font-size: 15px;
        padding-left: 2px;
        margin-left: -10px;
    }



    .container-text {
        width: 90%;
        padding: 25px;
    }



    .container-project {
        width: 90%;
        padding: 25px;
    }



    .column-project {
        width: 90%;
        /* border: 2px solid rgb(215,215,215);  */
        /* border-radius: 25px;  */
        /* margin: auto; */
        /* margin-bottom: 35px; */
    }



    /* .img-project {
        margin-left: 0px;
        width: 100%;
        height: auto;
        margin: 15px;
      } */



    header {
        background: #ffffff;
        color: white;
        padding: 5px 0;
        font-family: 'arial black', sans-serif;
        /* font-size: 1vw; */
        font-size: 8.5px;
        text-transform: uppercase;
        text-align: center;
    }

    .button-round {
        max-width: 100px;
        /* font-size: 12px; */
    }

}






@media (min-width: 769px) and (max-width: 1024px) {
    .project {
        width: 100%;
    }
}


@media (min-width: 1025px) {
    .project {
        width: 100%;
    }
}